xx.com:443 {
    tls xxx@gmail.com {
        ca https://acme-staging-v02.api.letsencrypt.org/directory
    }
    root /var/www/
    log /var/log/caddy/access.log
    #          Do not change this!!!
    proxy /ray http://v2ray:1234 {
        websocket
        header_upstream -Origin
    }
}

import conf.d/*.conf
